.container{
  display: flex;
  text-align: center;
  align-items: center;
  min-height: 80vh;
  justify-content: center;
}

.container button{
  width: 99%;
  height: 55px;
  font-size: 20px;
  background-color: rgb(46, 49, 146);
  color: white;
  border: none;
  cursor: pointer;
}